RewriteEngine On
RewriteRule ^(.+[^/])$ $1.html
RewriteCond %{SERVER_PORT} ^443$ [OR]
RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ https://mustafaemrertas.github.io/$1 [R=200,L]
ErrorDocument 404 https://mustafaemrertas.github.io/404.html
